<%- include('includes/header') %>
<%- include('includes/navbar') %>
<section class="about">
    <div class="container">
        <div class="inner about__inner">
            <div class="inner__head">
                <h3 class="inner__subtitle uppercase"><%= about-breadcrumb %></h3>
                <h2 class="inner__haedline"><%= about-heading %></h2>
            </div>
            <div class="inner__content">
                <p><%- about-content %></p>
            </div>
        </div>
    </div>
</section>
<%- include('includes/footer') %>