<%- include('includes/header') %>
<%- include('includes/navbar') %>
<section class="portfolio">
  <div class="container">
    <div class="inner portfolio__inner">
      <div class="inner__head">
        <h3 class="inner__subtitle uppercase">
          <%= projectsBreadcrumb %>
        </h3>
        <h2 class="inner__headline">
          <%= projectsHeading %>
        </h2>
        <p>
          <%= projectsContent %>
        </p>
      </div>
      <div class="inner__content">
        <% projectsItems.forEach(function(project){ %>
          <div class="card">
            <!-- <div class="card__image">
                  <img src="assets/images/portfolio/<?php echo $project_value['name']; ?>/default.png">
              </div> -->
            <div class="card__content">
              <h2 class="card__title uppercase">
                <%= project.title %>
              </h2>
              <p class="card__desc">
                <%- projectsDesc[project.name] %>
              </p>
              <div class="card__tags">
                <%= project.tags %>
              </div>
              <a href="#" class="button button-gradient button-gradient--black"><span>github</span></a>
              <% if (project.live){ %>
              <a href="#" class="button button-gradient button-gradient--blue"><span>live</span></a>
              <% } %>
            </div>
          </div>
          <% }) %>
        </div>
    </div>
  </div>
</section>
<%- include('includes/footer') %>